@model IEnumerable<ProjektPiotrMVC.Models.ApplicationUser>
@{
    ViewBag.Title = "ManageClass";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <h1>Klasa: "@ViewBag.Klasa</h1>
    <br />

    <table class="table">
        <tr style="font-size:24px">
            <th>
                @Html.DisplayNameFor(model => model.Imie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nazwisko)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr style="font-size:22px">
                <td>
                    @Html.DisplayFor(modelItem => item.Imie)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nazwisko)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    <input type="button" style="width:140px" value="Oceny" class="btn btn-default"
                           onclick="location.href='@Url.Action("IndexNauczyciel", "Ocenas", new { UczenID = item.Id, KlasaID = ViewBag.KlasaID })'" />
                </td>
            </tr>
        }
    </table>
    <input type="button" style="width:140px" value="Wróć" class="btn btn-default"
           onclick="location.href='@Url.Action("Index", "Nauczyciel")'" />
}