@model IEnumerable<ProjektPiotrMVC.Models.Przedmiot>

@{
    ViewBag.Title = "Index";
}

<h2>Przedmioty</h2>

<p>
    <input type="button" style="width:180px" value="Utwórz przedmiot" class="btn btn-success" onclick="location.href = '@Url.Action("Create")'" />
</p>
<table class="table">
    <tr>
        <th>
            Prowadzący
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nazwa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IloscKlas)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Prowadzacy.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nazwa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IloscKlas)
        </td>
        <td>
            @Html.ActionLink("Edytuj", "Edit", new { id=item.PrzedmiotID }) |
            @Html.ActionLink("Szczegóły", "Details", new { id=item.PrzedmiotID }) |
            @Html.ActionLink("Usuń", "Delete", new { id=item.PrzedmiotID })
        </td>
    </tr>
}

</table>
